@import '~react-md/src/scss/react-md';

$md-light-theme: false;
$md-primary-color: $md-green-900;
$md-secondary-color: $md-light-green-a-100;
$md-tertiary-color: $md-grey-900;
$md-light-text-color: $md-grey-100;
$md-dark-text-color: $md-grey-900;

.main-container,
.darker-background {
    background-color: $md-tertiary-color;
}

ul,
.md-card-text,
ol {
  color: white;
}

Button {
  a:link {
    color: white;
  }
}
a:link {
    color: $md-secondary-color;
    text-decoration: none;
}

a:visited {
    color: $md-secondary-color;
    text-decoration: none;
}
